<h1>Guest Book</h1>

<form action="/leave_comment" method="post">
  <label for="body">Comment</label>
  <textarea id="body" name="body"></textarea>
  <button type="submit">Post</button>
</form>

<% @comments.each do |comment| %>
  <p><%= comment %></p>
<% end %>
