body {
  width: 600px;
}

.span-1,
.span-2,
.span-3 {
  margin-right: 20px;
  float: left;
  margin-bottom: 10px;
  min-height: 100px;
}

.span-1 {
  width: 180px;
  background: mistyrose;
}

.span-2 {
  width: 380px;
  background: linen;
}

.span-3 {
  width: 580px;
  background: plum;
}
