body {
  width: 80%;
}

.span-1,
.span-2,
.span-3 {
  margin-right: 3.33333%; /* 20 / 600 = .033333*/
  float: left;
  margin-bottom: 10px;
  min-height: 100px;
}

.span-1 {
  width: 30%; /* 180 / 600 = 0.3 */
  background: mistyrose;
}

.span-2 {
  width: 63.33333%; /*380 /600 = .6333333 */
  background: linen;
}

.span-3 {
  width: 96.66666%; /* 580 / 600 = .9666666666*/
  background: plum;
}

img {
  max-width: 100%;
}

nav li {
  list-style: none;
  display: block;
}

@media(min-width: 40em){
  body {
    background: red;
  }

  nav li {
    display: inline-block;
  }
}

@media(min-width: 70em) {
  body {
    background: blue;
  }
}
