.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui-card {
  width: 49%;
  background: mistyrose;
}

.content {
  padding: 1em;
}

/*-----------------HEADER---------------------*/
.ui-card header {
  line-height: 2em;
}

.avatar {
  vertical-align: middle;
  width: 2em;
  border-radius: 50%;
}

/*-----------------------IMAGE---------------*/
.ui-card .image-wrapper {
  position: relative;
}

.ui-card .star {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 3em;
  opacity: 0;
  transition: .4s;
}

.ui-card .star:hover {
  color: yellow;
  cursor: pointer;
}

.ui-card .image-wrapper:hover .star {
  opacity: 1;
}

/*---------------DESCRIPTION------------------*/

/*---------------------FOOTER-----------------*/

.pull-right {
  float: right;
}

/*-----------------------------------------------*/
